<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSP.DataScience.Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSP.DataScience.Tool.Properties.Settings>
            <setting name="GoogleAPIKey" serializeAs="String">
                <value>A000000000000000000000000000000000</value>
            </setting>
        </CSP.DataScience.Tool.Properties.Settings>
    </applicationSettings>
</configuration>